.sourcetable {background-color: #F0F0FF; font-family: monospace; width: 100%}
.sourcetable tr {
	margin: 0px;
	padding: 0px;
}
.sourcetable td {
	margin: 0px;
	padding: 0px;
	white-space: nowrap;
}
.sourcetable > tbody > tr > td:first-child, .sourcetable > tr > td:first-child
{
	width:1px;
}

.filelist {
	/*display:inline-block;*/ padding: 5px;
}

.rich .toc {
	/*display:inline-block;*/ padding: 5px;
}
.rich .toc .header,.rich  .wikilist .header,.rich  .filelist .header {
	font-size: 1.7em;
}
.rich .toc li,.rich  .filelist li {
	margin: 5px 0px;
}
.rich .wikilist div {
	margin: 10px;
}

.rich .layout {min-height: 2.5em; display:table; width:100%; border-spacing:5px; table-layout:fixed; empty-cells: show;}
.rich .layout .rtecell {display:table-cell; height: 2.5em}
.rich .layout .rteside {width: 25%}

/*
.rtetable {
	border-collapse:collapse;
}
.rtetable > tbody > tr > td, .rtetable > tr > td {
	border: 1px solid #ddd;
	padding: 7px 10px;
	vertical-align: top;
	text-align: left;
}*/
.rich blockquote.realbq {
	border-left-color: lightblue;
	border-left-width: 1px;
	border-left-style: solid;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 5px;
}
.rich body {font-family: arial; font-size: small}

.rich .GrayBox {
	margin-left: 8px;
}

.rich .sourcetable { font-size:1.3em;}


