body
{
	margin: 0px;
	overflow: hidden;
}

div
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
}

.searchresultTitle
{
	font-size: 18px !important;
	padding-left: 5px;
	padding-right: 10px;
	padding-top: 18px;
}

.searchresultPath
{
	font-size: 13px;
	padding-left: 5px;
	padding-right: 10px;
	color: #006621;
}

.searchresultLine
{
	font-size: small;
	color: #545454;
	padding-left: 5px;
	padding-right: 10px;
	line-height: 18px;
}

.searchpager
{
	font-size: 15px;
	font-weight: bold;
	padding-left: 20px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

	.searchpager a
	{
		text-decoration: none;
	}

.fulltextWarning
{
	font-size: 12px;
	font-weight: bold;
	padding-left: 20px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.clearButton, .showListButton
{
	width: 20px;
	border-width: 0px;
	cursor: default;
}
.clearButton
{
	height: 20px;
	margin: 0px 3px;
}
.showListButton
{
	height: 25px;
	color: #CCCCCC;
}

.activeFilter
{
	color: white;
	background-color: #eeeeee;
	border-radius: 2px;
	height: 25px;
}
	.activeFilter .labelH
	{
		white-space: nowrap;
		margin-left: 3px;
		font-weight: bold;
	}

.searchBox
{
	width: 100%;
	border: 1px solid #CCCCCC;
}

.comboList
{
	background-color: White;
	color: Black;
	border: #BBBBBB 1px solid;
	cursor: default;
	box-shadow: 3px 3px 4px #666666;
	-moz-box-shadow: 4px 4px 6px #666666;
	-webkit-box-shadow: 4px 4px 6px #666666;
	position: absolute;
	z-index: 993;
	width: 400px;
}

.comboItem
{
	width: 100%;
}
	.comboItem td
	{
		padding: 7px 5px;
	}

.tips
{
	font-weight: bold;
	padding-left: 20px;
	padding-top: 10px;
}

	.tips span
	{
		font-family: Verdana, Arial, Helvetica, sans-serif;
	}

.tipsList
{
	font-weight: normal;
}

.noresults
{
	padding-left: 20px;
}

	.noresults span
	{
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 16px;
		color: sienna;
	}

.Button.search
{
	height: 33px;
	width: 100px;
	margin-left: 3px;
}
.editor.search
{
	width: 100%;
	border-width: 0px;
}
	.editor.search:focus
	{
		box-shadow: 0px 0px 0px 0px transparent;
		-webkit-box-shadow: 0px 0px 0px 0px transparent;
	}