
.wiki {
	text-align: left;
	line-height: 1.4em;
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	color: #000000;
	padding-left: 5px;
	padding-right: 10px;
	padding-top: 5px;
}

.resulterror, .resulterror * {
	color: #FF0000;
}

.resultok, .resultok * {
	color: #009900;
}

.editbox 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	padding: 2px;
	margin: 0px;
}

a.datepicklink {
	display: block;
}

.textwitharrow
{
	background-image: url('Default/Images/Wiki/more_arrow.gif');
	background-position: center left;
	background-repeat: no-repeat;
	padding-left: 10px;
        font-size: 12px;
}

/* General purpose links */
a.wikilink, a.wikilink:link, a.wikilink:active {
	color: #214C9A;
	text-decoration: none;
	font-size: 12px;
}
a.wikilink:hover {
	color: #EF3818;
	text-decoration: underline;
}

/* Link to an external URL */  
a.externallink {
	background-image: url('Default/Images/Wiki/ExternalLink.gif');
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 14px;
}

a.linkwitharrow
{
	background-image: url('Default/Images/Wiki/round_button.gif');
	background-position: center left;
	background-repeat: no-repeat;
	padding-left: 20px;
}


a.linkcoldfusion
{
	background-image: url('Default/Images/Wiki/icon-swf.gif');
	background-position: center left;
	background-repeat: no-repeat;
	padding-left: 20px;
}

a.linkwithsmallarrow
{
	background-image: url('Default/Images/Wiki/more_arrow.gif');
	background-position: center left;
	background-repeat: no-repeat;
 	padding-left: 10px;
        color:black;
}

a.urllink
{
	background-image: url('Default/Images/Wiki/i_url.gif');
	background-position: center left;
	background-repeat: no-repeat;
 	padding-left: 14px;
}

/* Link to file revisions screen */
a.revisionslink, a.revisionslink:hover {
	background-image: url('Default/Images/Wiki/revisions.gif');
	background-repeat: no-repeat;
	padding-right: 14px;
}

/* Link to an internal file */
a.internallink {
}

/* Link to a Wiki page */
a.pagelink {
}

/* Link to unknown/inexistent pages */
a.unknownlink, a.unknownlink:link, a.unknownlink:active {
	color: #990000;
	text-decoration: none;
}
a.unknownlink:hover {
	color: #D9671E;
	text-decoration: underline;
}

/* Email Link */
a.emaillink {
}

a.editsectionlink {
	float: right;
	font-size: 12px;
	margin: 4px 0px 0px 0px;
}

a.anchorlink, a.anchorlink:link, a.anchorlink:active
{
	color: #214C9A;
	text-decoration: none;
}

a.anchorlink:hover {
	color: #D9671E;
	text-decoration: underline;
}

h1.wikiH1 {
	color: #0071BC;
	font-size: 14px;
	font-weight: bold;
}

h2.wikiH2 {
	color: #EF3818;
	font-size: 12px;
	font-weight: bold;
}

h3.wikiH3
{
	background-image: url('Default/Images/Wiki/logo_bug_small.gif');
	background-repeat: no-repeat;
	color: #0071BC;
	font-size: 12px;
	padding-left: 12px;
}

h4.wikiH4 {
	background-image: url('Default/Images/Wiki/more_arrow.gif');
	background-repeat: no-repeat;
	background-position: center left;
	color: #0071BC;
	font-size: 12px;
	font-weight: normal;
	padding-left: 10px;

}

h1.pagetitle 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 22px;
	line-height: 1.3em;
	color: #000000;
	border-bottom: solid 1px #888888;
	padding-bottom: 2px;
	margin-bottom: 2px;
	font-weight: normal;
}

/* Class for applying a separator under H elements (useful to avoid usage of HR) */
h1.separator
{
	border-bottom: none;
	padding-bottom: 0px;
	margin-bottom: 2px;

}

h2.separator 
{

        border-bottom: solid 1px #9C9A9C;
	padding-bottom: 0px;
	margin-bottom: 4px;
        margin-top: 0px;
}

h3.separator 
{
	border-bottom: none;
	padding-bottom: 0px;
	margin-bottom: 0px;
        margin-top: 4px;
}

h4.separator 
{
	border-bottom: none;
	padding-bottom: 0px;
	margin-bottom: 0px;
        margin-top: 4px;
}


.horline
{
	height: 1px;
	overflow: hidden;
	background: #9C9A9C;
	border: 0;
	margin-right: 0px;
}

ul.wikibulletlist
{
        font-size: 12px;
	padding-left: 6px;
	margin-left: 0px;
	margin-top: 0px;
        margin-bottom: 0px;
        list-style: none;

}

ol.wikinumlist
{
	font-size: 12px;
	padding-left: 20px;
	margin-left: 2px;
}


li.wikibullet
{
	background-image: url('Default/Images/Wiki/more_arrow.gif');
        background-repeat: no-repeat;
        background-position: 0 .5em;
        padding-left: 10px;
}

code, pre {
	font-family: Courier New, Lucida Console, Monospace;
	color: #000000;
	padding: 0px;
	margin: 0px;
}

pre {
	border: dashed 1px #999999;
	background-color: #FFFFF0;
	margin: 0px 10px 0px 10px;
	padding: 8px;
}

img {
	border: none;
}

/* Class for general purpose images (contained in Wiki pages) */
img.image {
	border: solid 1px #CCCCCC;
}

/* Class of the formatting Buttons in Edit.aspx */
img.format {
	border: solid 1px;
	padding: 2px;
}

/* Appearance of images which are rendered to the left of file links*/
img.fileimg
{
	height: 16px;
	vertical-align: middle;
}

/* Description/legend for images */
div.imagedescription {
	font-size: 11px;
	font-style: italic;
	margin-top: 5px;
}

/* Div used for clearing floats */
div.clear {
	clear: both;
}

/* Div containing images aligned to the left */
div.imageleft {
	margin-left: 0px;
	margin-right: 8px;
	margin-top: 4px;
	margin-bottom: 4px;
	float: left;
	clear: left;
}

/* Div containing images aligned to the right */
div.imageright {
	margin-left: 8px;
	margin-right: 0px;
	margin-top: 4px;
	margin-bottom: 4px;
	float: right;
	clear: right;
}

/* Div containing images aligned to the center */
div.imagecenter 
{
	width: 100%;
	text-align: center;
}

/* Div containing information on last modification (who and when) */
div.legend
{
	font-size: 10px;
	margin-bottom: 10px;
}

/* Div containing a single section */
div.section
{
	font-size: 12px;
	text-align: left;
	font-family: Tahoma,Arial,Helvetica,sans-serif;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 4px;
        margin-bottom: 0px;

}

/* Div used as content of hidden text */
div.wikihiddencontent
{
	margin-left: 15px;
}

.sH1
{
}
.sH2
{
	margin-top: 3px;
}
.sH3
{
       padding-left: 12px;
}

.sH4
{
	padding-left: 10px;
}

/* Div used as an empty space between sections */
div.emptyspace
{
	margin-top: 0px;
	margin-bottom: 0px;
}

/* Table containing images not aligned */
table.imageauto {
	border: solid 1px #CCCCCC;
	background-color: #F9F9F9;
	padding: 4px;
	clear: both;
}

td.imageauto {
	background-color: #F9F9F9;
}

/* Style of error messages */
span.errorMsg
{
	color: Red;
}

/* Correct box */
.GrayBox {
	border: solid 1px #CCCCCC;
	background-color: #F9F9F9;
	padding: 4px;
	margin: 4px 4px 0px 4px;
	width: 98%;
}

/* Table of contents box */
.TocBox {
	border: solid 1px #CCCCCC;
	background-color: #F9F9F9;
	padding: 4px;
	margin: 4px 4px 0px 4px;
}

.hintcell
{
	height: 36px;
	width: 32px;
	vertical-align: middle;
}

.warncell
{
	height: 36px;
	width: 32px;
	vertical-align: middle;
}

/* Contains the Header */
#HeaderDiv {
	margin: 4px;
	padding: 8px;
}

/* Contains the SidebarDiv and the MainDiv */
#ContainerDiv {
}

/* Contains the contents of a Page */
#MainDiv {
	background-color: #FFFFFF;
	background: #FFFFFF url(Default/Images/Wiki/sw_border_vertical.png) repeat-y left;
	border-top: solid 1px #888888;
	border-bottom: solid 1px #888888;
	border-right: none;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 192px;
	margin-right: 0px;
	padding-top: 8px;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 12px;
}

/* Contains the Page Header (title, last modify, etc.) */
#PageHeaderDiv {
}

#PageInternalHeaderDiv {
	margin-bottom: 10px;
}

#PageInternalFooterDiv {
	margin-top: 10px;
}

/* Contains the link to the page editing form (Edit.aspx) and history */
#EditHistoryLinkDiv {
	float: right;
	font-size: 12px;
	padding-top: 4px;
	padding-bottom: 4px;
}
#EditLink, #HistoryLink, #ViewCodeLink, #DiscussLink, #BackLink, #PostReplyLink {
	margin-left: 4px;
	padding: 2px;
	border: solid 1px #999999;
	text-decoration: none;
}
#EditLink:hover, #HistoryLink:hover, #ViewCodeLink:hover, #DiscussLink:hover, #BackLink:hover, #PostReplyLink:hover {
	border: solid 1px #214C9A;
	text-decoration: none;
	background-color: #FFFFEE;
}

#PreviewDivExternal {
}

#PreviewDiv {
	padding: 10px;
	border: solid 4px #CCCCCC;
}

#TocContainer {
	border: solid 1px #CCCCCC;
	padding: 4px;
	background-color: #F9F9F9;
}

/* Infobox styles */
table.infobox
{
	background-color: white;
	color: black;
	clear: right;
	float: right;
	margin: 0.5em 5pt 0.5em 1em;
	border: solid 1px #0071BC;
}

.infoboxheader
{
	color: #0071BC;
	font-size: 12px;
	font-weight: bold;
	padding: 5px 5px 5px 3px;
	background-color: #F5F5F5;
	border-bottom: solid 1px #EFF3F6;
}

.infoboxcell
{
	color: #0071BC;
	font-size: 11px;
	padding: 5px;
	background-color: #E6ECF0;
	border-bottom: solid 1px #EFF3F6;
	border-top: solid 1px #CCD8E0;
}
