.recognition-rect {
    position: absolute;
    border: 3px solid;
}

.recognition-value {
    transform: translate(-2px, -2px);
    padding: 2px;
}

.recognition-rect.mapped {
    border-color: #e86300;
    opacity: 1;
}

.recognition-value, .recognition-table, .recognition-column, .recognition-row {
    border-color: #00ff04;
    opacity: 0;
}

.mode-box .recognition-value:hover {
    cursor: pointer;
    opacity: 1;
}

.mode-box .recognition-table, .mode-box .recognition-column, .mode-box .recognition-row {
    display: none;
}

.mode-table .recognition-table:hover {
    cursor: pointer;
    opacity: 1;
}

.mode-table .recognition-value, .mode-table .recognition-column, .mode-table .recognition-row {
    display: none;
}

.mode-column .recognition-column:hover {
    cursor: pointer;
    opacity: 1;
}

.mode-column .recognition-value, .mode-column .recognition-table.hidden-in-column-mode, .mode-column .recognition-column.hidden-in-column-mode, .mode-column .recognition-row {
    display: none;
}

.mode-row .recognition-row:hover {
    cursor: pointer;
    opacity: 1;
}

.mode-row .recognition-value, .mode-row .recognition-table, .mode-row .recognition-column {
    display: none;
}
