<textarea id="bodyTemplate-event" class="x-hidden-display">
    <div style="text-align: center;" style="font-weight: normal">

        <tpl if="!Ext.isEmpty(TimeSlot) && TimeSlot.SlotLevel == 1">
            <div class="x-fa fa-lock" style="float: left;" data-qtip = "{Messages.WARNING_AVAILABILITY_OVERLAPPING}"></div>
        <tpl else>
            <div class="x-fa fa-trash" style="float: right;" data-qtip="{Messages.BUTTON_DELETE}"></div>
        </tpl>
        
         <span id="recordID" class="sch-event-header link-availability" >
                {WrkEmployeeScheduleID}&nbsp
        </span>
    </div>

    <div class="appointment-description" style="text-align: left !important;">
        <!--Location -->
        <tpl if="!Ext.isEmpty(Duration)">
            <div> 
                <div class="sch-event-footer x-fa fa-clock-o" style="float: left; width: 18px;" data-qtip="{Messages.TOOLTIP_BOX_DURATION}"></div>
                <span>{Duration:ellipsis(25, true)}</span>
            </div>
        </tpl>
    </div>
</textarea>