<div id="info-route-template"  class="x-hidden-display">

    <!-- Route Time-->
    <tpl if = "routeTime != '' ">
        <div class = "info-route-text">
            <span style="font-weight:bold">{Messages.ROUTE_BOX_ROUTE_TIME}: </span> {routeTime}
        </div>
    </tpl>

    <!-- Route Distance -->
    <tpl if = "routeDistance != '' ">
        <div class = "info-route-text">
            <span style="font-weight:bold">{Messages.ROUTE_BOX_ROUTE_DISTANCE}:</span>
                {routeDistance}
            <tpl if = "!dirty ">
                {Messages.ROUTE_BOX_MILES}
            </tpl>
        </div>
    </tpl>

    <!-- Total Appointments -->
    <tpl if = "totalAppointments != '' ">
        <div class = "info-route-text">
            <!-- Total - 2 (start location and end location) -->
            <span style="font-weight:bold">{Messages.ROUTE_BOX_NUMBER_APPOINTMENTS}: </span> {totalAppointments - 2}
        </div>
    </tpl>

    <!--driver-->
    <tpl if = "driver != '' ">
        <div class = "info-route-text">
            <span style="font-weight:bold">{Messages.ROUTE_BOX_DRIVER}: </span> {driver}
        </div>
    </tpl>

    <!--Vehicle Type-->
    <tpl if = "vehicleType != '' ">
        <div class = "info-route-text">
            <b>{Messages.ROUTE_BOX_VEHICLE_TYPE}: </span> {vehicleType} <br>
        </div>
    </tpl>

    <!-- vehicle -->
    <tpl if = "vehicle != '' ">
        <div class = "info-route-text">
            <span style="font-weight:bold">{Messages.ROUTE_BOX_VEHICLE}: </span> {vehicle}
        </div>
    </tpl>

    <!--status-->
    <tpl if = "status != '' ">
        <div class = "info-route-text">
            <span style="font-weight:bold">{Messages.ROUTE_BOX_STATUS}: </span> {status}
        </div>
    </tpl>

</div>


