<textarea id="bodyTemplate-event" class="x-hidden-display" style="font-weight: normal">   
    <div style="text-align: center;">
        <div class="x-fa fa-trash" style="float: right;" data-qtip="{Messages.BUTTON_DELETE} {appointmentName}"></div>
        <div id="appointmentRefNbr" class="appointment-header link-appointment" style="font-weight: normal">{appointmentName:ellipsis(25, true)} Number</div>
    </div> 
    <div class="appointment-description" style="text-align: left !important;">
		<tpl for="records">      
        	<div style="margin-left: 5px;">
        	<!--Customer Contact--> 
       		<tpl if="data.FieldName=='Customer'">
	            <div class="x-fa fa-user" style="float: left; width: 18px;" data-qtip="{parent.Messages.APPOINTMENT_BOX_CUSTOMER}"></div>
        	</tpl>

	        <!--Contact Phone-->
	        <tpl if="data.FieldName=='Contact'">
	            <div class="x-fa fa-phone" style="float: left; width: 18px;" data-qtip="{parent.Messages.APPOINTMENT_BOX_CONTACT}"></div>
	        </tpl>

	        <!--Customer Name-->
	        <tpl if="data.FieldName=='CustomerName'">
	            <div class="x-fa fa-industry" style="float: left; width: 18px;" data-qtip="{parent.Messages.APPOINTMENT_BOX_CUSTOMER_NAME}"></div>
	        </tpl>

	         <!--Location -->
	         <tpl if="data.FieldName=='CustomerLocation'">
	            <div class="x-fa fa-map-marker" style="float: left; width: 18px;" data-qtip="{parent.Messages.APPOINTMENT_BOX_CUSTOMER_LOCATION}"></div>
	        </tpl>

	        <!--Fist Service-->
	        <tpl if="data.FieldName=='FirstService'">
	            <div class="x-fa fa-list-ol" style="float: left; width: 18px;" data-qtip="{parent.Messages.APPOINTMENT_BOX_FIRST_SERVICE}"></div>
	        </tpl>
	        
	        <!--Room-->
	        <tpl if="data.FieldName=='Room'">
	            <div class="x-fa fa-home" style="float: left; width: 18px;" data-qtip="{parent.Messages.APPOINTMENT_BOX_ROOM}"></div>
	        </tpl>

			<!--Service Order Reference Number-->
	        <tpl if="data.FieldName=='SORefNbr'">
	        	<div class="x-fa fa-file-text-o" style="float: left; width: 18px;" data-qtip="{parent.Messages.APPOINTMENT_SERVICE_ORDER}"></div> 
	        </tpl>  

	        <!--Confirmed-->
	        <tpl if="data.FieldName=='Confirmed'">
				<div class="fa fa-check-circle" style="float: left; width: 18px; padding-top: 5px;" data-qtip="{parent.Messages.APPOINTMENT_BOX_CONFIRMATION}: {parent.Messages.TOOLTIP_BOX_CONFIRMED}"></div>
	        </tpl>

	        <!--Status-->
	        <tpl if="data.FieldName=='Status'">
	            <div class="x-fa fa-calendar-check-o" style="float: left; width: 18px;" data-qtip="{parent.Messages.APPOINTMENT_BOX_STATUS}" ></div>
	        </tpl>

	        <!--Workflow Stage-->
	        <tpl if="data.FieldName=='WorkflowStage'">
	            <div class="fa fa-retweet" style="float: left; width: 18px; padding-top: 5px;" data-qtip="{parent.Messages.APPOINTMENT_BOX_WORKFLOW_STAGE}" ></div>
			</tpl>

        	<div style="font-weight: normal">{data.FieldName:ellipsis(25, true)}</div> 
        	</div> 
    	</tpl>
    </div>
</textarea>

