.pdf-viewer-container {
    position: relative;
    width: 100%;
    height: 96%;
    overflow: auto;
}

.pdf-viewer-button {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 3px;
    margin-right: 3px;
}

.pdf-viewer-page {
    position: relative;
}

.pdf-viewer-canvas {
    border: 1px solid #4d4d4d;
    border-bottom: 12px solid #4d4d4d;
}

.pdf-viewer-svg {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid transparent;
}

.pdf-viewer-rectangle {
    stroke: #ff0000;
    stroke-width: 1px;
    fill: transparent;
    cursor: pointer;
}

.pdf-viewer-rectangle:hover, .pdf-viewer-rectangle:active {
    stroke: #2e5cb8;
    stroke-width: 3px;
}

.pdf-viewer-rectangle:active {
    stroke-width: 5px;
    fill: rgba(209, 209, 224, 0.6);
}
