<textarea id="bodyTemplate-event" class="x-hidden-display">
    <div class="sch-event-timeSlot-footer">
        <div id="recordID" class="availability-header link-availability">{WrkEmployeeScheduleID}</div>
        <tpl if="!Ext.isEmpty(TimeSlot) && TimeSlot.SlotLevel == 1">
            <div class="lock" data-qtip = "There are more than 1 rule affecting this availability."></div>
        <tpl else>
            <div class="delete" data-qtip="Delete"></div>
        </tpl>
    </div>
    <div class="appointment-description" style="text-align: left !important;">
        <!--Location -->
        <tpl if="!Ext.isEmpty(BranchLocation)">
            <div class="location" data-qtip = "Branch Location"></div>
            <div class="sch-event-contact">{CpnyLocation:ellipsis(25, true)}&nbsp;</div>
        </tpl>

        <!--Location -->
        <tpl if="!Ext.isEmpty(Duration)">
            <div class="clock" data-qtip = "Duration" ></div>
            <div class="sch-event-duration">{Duration:ellipsis(25, true)}&nbsp;</div>
        </tpl>
    </div>
</textarea>