.rich ol, .rich ul { margin-top: 0px; margin-bottom: 0px;}
.rich .imgbrdr {
	border: solid 1px;
}
.richIcon {
	display: inline-block;
	background-image: url(Images/sprite_main5.png);
	background-repeat: no-repeat;
	width: 15px;
}
.richAttach {
	background-position: -2px -122px;
}
.richImg {
	background-position: -2px -1120px;
}
.richScreen {
	background-position: -24px -1032px;
}
.richArticle {
	background-position: -24px -1054px;
}

/* Correct box */
.rich .GrayBox {
	border: solid 1px #CCCCCC;
	background-color: #F9F9F9;
	padding: 4px;
	/*margin: 4px;*/
	width: 98%;
}
.rich .hintcell
{
	height: 36px;
	width: 32px;
	vertical-align: middle;
}

.rich .warncell
{
	height: 36px;
	width: 32px;
	vertical-align: middle;
}

.rich .boxcontent{ width: 100% }
.rich pre { font-size:1.3em }

.rich iframe{
	border: none;
}
.rich iframe.iframeBorder, .rich img.iframeBorder {
	border: solid black 1px;
}

.rtetable > tbody > tr > td, .rtetable > tr > td { white-space: nowrap }
.rtetable > tbody > tr:first-child > td, .rtetable > tr:first-child > td { background-color: silver }


.rich pre.source-highlighted {background-color: #F0F0FF;}
.rich pre.source-highlighted .nu, .rich .sourcetable .nu { color: brown; }
.rich pre.source-highlighted .kw, .rich .sourcetable .kw { color: blue; }
.rich pre.source-highlighted .cmt, .rich .sourcetable .cmt { color: green; }
.rich pre.source-highlighted .sl, .rich .sourcetable .sl { color: brown; }
.rich pre.source-highlighted .br, .rich .sourcetable .br {color: darkgreen; }

.rich pre.source-highlighted .add, .rich .sourcetable .add { background: palegreen; }
.rich pre.source-highlighted .del, .rich .sourcetable .del { background: pink; }

.rich table, .rich tr, .rich td, .rich img, .rich iframe {
	cursor: default;
}
.layout .rtecell {
	vertical-align: top;
	font-size: small;
}
.rtetable > tbody > tr > td, .rtetable > tr > td { vertical-align: top; }

.rich p{
	margin:0px 5px 0px 0px;
}
.rich .align-center{
	text-align: center;
}
.rich .align-right{
	text-align: right;
}
.rich .align-left{
	text-align: left;
}
.rich li[style*='text-align: center'], .rich li[style*='text-align: right'] {
list-style-position: inside;
}

.rtetable { empty-cells: show; border: solid 1px black; border-collapse:collapse; }
.rtetable > tbody > tr > td, .rtetable > tr > td { border: solid 1px black; height: 1.5em; min-width: 20px;  padding: 0px 5px }
.rich table {font-family: arial; font-size: small}
.rich blockquote.shift {
	margin-right: 0px;margin-top: 0px; margin-bottom: 0px;
}
.rich img[data-expand] {
	display: block;
}
.rich p, .rich p.richp  {font-family: arial; font-size: small}
.rich blockquote.shift h1, .rich blockquote.shift h2, .rich blockquote.shift h3, .rich blockquote.shift h4, .rich blockquote.shift h5, .rich blockquote.shift h6 {
    margin-top: 0px;
}
.rich, .rich * {
    word-wrap: break-word;
}



