
.wiki {
	background-color: #FFFFFF;
	background-repeat: repeat-x;
	padding: 0px;
	margin: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	padding-left: 5px;
	padding-right: 10px;
	padding-top: 5px;
}

.resulterror, .resulterror * {
	color: #FF0000;
}

.resultok, .resultok * {
	color: #009900;
}

.editbox 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	padding: 2px;
	margin: 0px;
}

a.datepicklink {
	display: block;
}

/* General purpose links */
a.wikilink, a.wikilink:link, a.wikilink:active {
	color: #214C9A;
	text-decoration: underline;
}
a.wikilink:hover {
	color: #D9671E;
	text-decoration: underline;
}

/* Link to an external URL */
a.externallink {
	background-image: url('Default/Images/Wiki/ExternalLink.gif');
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 14px;
	text-decoration: underline;
}

/* Link to an internal file */
a.internallink {
}

/* Link to a Wiki page */
a.pagelink {
}

/* Link to unknown/inexistent pages */
a.unknownlink, a.unknownlink:link, a.unknownlink:active {
	color: #990000;
	text-decoration: underline;
}
a.unknownlink:hover {
	color: #D9671E;
	text-decoration: underline;
}

/* Email Link */
a.emaillink {
}

a.editsectionlink {
	display: none
}

a.anchorlink, a.anchorlink:link, a.anchorlink:active
{
	color: #214C9A;
	text-decoration: none;
}

a.anchorlink:hover {
	color: #D9671E;
	text-decoration: underline;
}

h1.wikiH1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #000000;
	padding: 0px;
	margin: 0px;
	font-weight: normal;
}

h2.wikiH2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000000;
	padding: 0px;
	margin: 0px;
	font-weight: normal;
}

h3.wikiH3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	padding: 0px;
	margin: 0px;
	font-weight: normal;
}

h4.wikiH4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	padding: 0px;
	margin: 0px;
	font-weight: normal;
	font-style: italic;
}

h1.pagetitle 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: #000000;
	border-bottom: solid 1px #888888;
	padding-bottom: 2px;
	margin-bottom: 2px;
	font-weight: normal;
}

/* Class for applying a separator under H elements (useful to avoid usage of HR) */
h1.separator, h2.separator, h3.separator {
}

.horline
{
	border-bottom: solid 1px #888888;
	padding-bottom: 2px;
	margin-bottom: 8px;
}

ul.wikibulletlist, ol.wikinumlist {
	margin: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 28px;
	padding-right: 8px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}

li.wikibullet {
	margin: 2px 0px 0px 0px;
	padding: 0px;
}

dl.wikidefn {
	margin: 0px;
	padding: 0 8px 0 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}

dd.wikidefn {
	margin: 0 0 2px 0px;
	padding: 0 0 0 30px;
}

dt.wikidefn {
	margin: 3px 0 0 0;
	padding: 0;
	font-weight: bold;
}

code, pre {
	font-family: Courier New, Lucida Console, Monospace;
	color: #000000;
	padding: 0px;
	margin: 0px;
}

pre {
	border: dashed 1px #999999;
	background-color: #FFFFFF;
	margin: 0px 10px 0px 10px;
	padding: 8px;
}

img {
	border: none;
}

/* Class for general purpose images (contained in Wiki pages) */
img.image {
	border: solid 1px #CCCCCC;
}

/* Class of the formatting Buttons in Edit.aspx */
img.format {
	border: solid 1px;
	padding: 2px;
}

/* Description/legend for images */
div.imagedescription {
	font-size: 11px;
	font-style: italic;
	margin-top: 5px;
}

/* Div used for clearing floats */
div.clear {
	clear: both;
}

/* Div used as an empty space between sections */
div.emptyspace
{
	margin-top: 20px;
	clear: both;
}

/* Div used as content of hidden text */
div.wikihiddencontent
{
	margin-left: 15px;
}

/* Div containing images alighed to the left */
div.imageleft {
	border: none;
	background-color: #FFFFFF;
	padding: 4px;
	margin-left: 0px;
	margin-right: 8px;
	margin-top: 4px;
	margin-bottom: 4px;
	float: left;
	clear: left;
}

/* Div containing images alighed to the right */
div.imageright {
	border: none;
	background-color: #FFFFFF;
	padding: 4px;
	margin-left: 8px;
	margin-right: 0px;
	margin-top: 4px;
	margin-bottom: 4px;
	float: right;
	clear: right;
}

/* Div containing a single section */
div.section
{
}

/* Div containing a single section after H1 header*/
div.sH1
{
}

/* Div containing a single section after H2 header*/
div.sH2
{
}

/* Div containing a single section after H3 header*/
div.sH3
{
}

/* Div containing a single section after H4 header*/
div.sH4
{
}

/* Table containing images not aligned */
table.imageauto {
	border: solid 1px #CCCCCC;
	background-color: #F9F9F9;
	padding: 4px;
	clear: both;
}

td.imageauto {
	background-color: #F9F9F9;
}

/* Style of error messages */
span.errorMsg
{
	color: Red;
}

/* Correct box */
.GrayBox {
	border: solid 1px #CCCCCC;
	background-color: #FFFFFF;
	padding: 4px;
	margin: 4px 4px 0px 4px;
	width: 98%;
}

/* Table of contents box */
.TocBox {
	border: solid 1px #CCCCCC;
	background-color: #F9F9F9;
	padding: 4px;
	margin: 4px 4px 0px 4px;
}

.hintcell
{
	height: 36px;
	width: 32px;
	vertical-align: middle;
}

.warncell
{
	height: 36px;
	width: 32px;
	vertical-align: middle;
}

/* Contains the Header */
#HeaderDiv {
	margin: 4px;
	padding: 8px;
}

/* Contains the SidebarDiv and the MainDiv */
#ContainerDiv {
}

/* Contains the contents of a Page */
#MainDiv {
	background-color: #FFFFFF;
	background: #FFFFFF url('Default/Images/Wiki/sw_border_vertical.png') repeat-y left;
	border-top: solid 1px #888888;
	border-bottom: solid 1px #888888;
	border-right: none;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 192px;
	margin-right: 0px;
	padding-top: 8px;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 12px;
}

/* Contains the Page Header (title, last modify, etc.) */
#PageHeaderDiv {
}

#PageInternalHeaderDiv {
	margin-bottom: 10px;
}

#PageInternalFooterDiv {
	margin-top: 10px;
}

/* Contains the link to the page editing form (Edit.aspx) and history */
#EditHistoryLinkDiv {
	float: right;
	font-size: 11px;
	padding-top: 4px;
	padding-bottom: 4px;
}
#EditLink, #HistoryLink, #ViewCodeLink, #DiscussLink, #BackLink, #PostReplyLink {
	margin-left: 4px;
	padding: 2px;
	border: solid 1px #999999;
	text-decoration: none;
}
#EditLink:hover, #HistoryLink:hover, #ViewCodeLink:hover, #DiscussLink:hover, #BackLink:hover, #PostReplyLink:hover {
	border: solid 1px #214C9A;
	text-decoration: none;
	background-color: #FFFFEE;
}

#PreviewDivExternal {
}

#PreviewDiv {
	padding: 10px;
	border: solid 4px #CCCCCC;
}

#TocContainer {
	border: solid 1px #CCCCCC;
	padding: 4px;
	background-color: #FFFFFF;
}

/* Infobox styles */
table.infobox
{
	background-color: white;
	color: black;
	clear: right;
	float: right;
	margin: 0.5em 5pt 0.5em 1em;
	border: solid 1px #0071BC;
}

.infoboxheader
{
	color: #0071BC;
	font-size: 12px;
	font-weight: bold;
	padding: 5px 5px 5px 3px;
	background-color: #F5F5F5;
	border-bottom: solid 1px #EFF3F6;
}

.infoboxcell
{
	color: #0071BC;
	font-size: 12px;
	padding: 5px;
	background-color: #E6ECF0;
	border-bottom: solid 1px #EFF3F6;
	border-top: solid 1px #CCD8E0;
}

/* Source code highlighting. */
.source-highlighted .nu { color: brown; }
.source-highlighted .kw { color: blue; }
.source-highlighted .cmt { color: green; }
.source-highlighted .sl { color: brown; }
.source-highlighted .br { color: darkgreen; }

.source-highlighted .add { background: palegreen; }
.source-highlighted .del { background: pink; }
