@font-face {
    font-family: 'TitilliumRegular';
    src: url('font/titillium-regular-webfont.eot');
    src: url('font/titillium-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/titillium-regular-webfont.woff') format('woff'),
         url('font/titillium-regular-webfont.ttf') format('truetype'),
         url('font/titillium-regular-webfont.svg#TitilliumRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}
a:hover{
text-decoration: none;
}
:focus {
outline: 0;
}
*{
margin:0;
padding:0;
}
html{
 height:100%;
}
 body{
font-family: Helvetica,Tahoma, sans-serif;
width:100%;
height:100%;
 }
ul{list-style:none;}

 .wrap{
 width:100%;
 min-width:800px;
 }
 .top{
 float:left;
 width:100%;
 height:42px;
 margin-bottom:20px;
 }
.top h1{
    font-family: 'TitilliumRegular';
  font-size:24px;
  color:#fff;
  font-weight:500;
  }
 .top.one{
 background:  url(image/h1-1-repeat.jpg) 0 0 repeat-x;
 }
 .top.one h1{
 padding:7px 0 0 30px;
 height:35px;
 background:  url(image/h1-1.jpg) 100% 0 no-repeat;
 } 
  .top.two{
 background:  url(image/h1-2-repeat.jpg) 0 0 repeat-x;
 }
 .top.two h1{
 padding:7px 0 0 30px;
 height:35px;
 background:  url(image/h1-2.jpg) 100% 0 no-repeat;
 } 
   .top.three{
 background:  url(image/h1-3-repeat.jpg) 0 0 repeat-x;
 }
 .top.three h1{
 padding:7px 0 0 30px;
 height:35px;
 background:  url(image/h1-3.jpg) 100% 0 no-repeat;
 } 
 .top.four{
 background:  url(image/h1-4-repeat.jpg) 0 0 repeat-x;
 }
 .top.four h1{
 padding:7px 0 0 30px;
 height:35px;
 background:  url(image/h1-4.jpg) 100% 0 no-repeat;
 } 
  .main{
 float:left;
 width:96%;
 padding: 0 2%;
 }
 .enroll{
 float:left;
 width: 100%;
 height:245px;
 background: #f1f7fa url(image/1.jpg) 100% 0 no-repeat;
 margin: 0 0 20px 0;
 }
  .enroll.bg2{ background: #f1f7fa url(image/6.jpg) 100% 0 no-repeat;}
 .enroll span{
 display:block;
  font-family: 'TitilliumRegular';
  font-size:36px;
  color:#333333;
  padding: 20px 0 0 50px;
 }
 .enroll .enr{
  font-family: 'TitilliumRegular';
 display:block;
 width:131px;
 height:32px;
 padding: 10px 0 0 70px;
 background: url(image/enroll.png) 0 0 no-repeat;
 font-size:20px;
 color:#fff;
 text-decoration: none;
 margin: 15px 0 8px 70px;
 }
  .enroll .link{
  font-family: 'TitilliumRegular';
 display:block;
 width:161px;
 height:32px;
 padding: 10px 0 0 0;
 background: #43abf7;
 font-size:20px;
 color:#fff;
 text-decoration: none;
 margin: 15px 0 8px 70px;
 text-align:center;
 border-radius:8px;
 }
 .enroll .reg{
  font-family: 'TitilliumRegular';
 font-size:14px;
 color:#43abf7;
 text-decoration: none;
 margin: 15px 0 0 120px;
 }
 .enroll p{
 font-size: 16px;
 color:#383838;
 margin: 5px 0 5px 130px;
 }
 .enroll p.fbs{
 font-size: 32px;
 color:#383838;
  margin: 0 0 0 50px;
 }
 .text-block p{
 font-size:16px;
 color:#333;
 line-height:24px;
 margin-bottom:20px;
 }
  .text-block p a{ color:#43abf7;list-style-type:circle;}
  
 .b-item{
 float:left;
 width:33%;
 } 
 .b-item-in{
 width:210px;
 padding: 110px 10px 15px 10px;
 height:95px;
 background-color: #f1f7fa;
 background-repeat:no-repeat;
 margin: 0 auto;
 text-align:center;
 }
 .b-item-in.overview{
 background-image: url(image/ico1.png);
 background-position: 50% 30px;
 }
  .b-item-in.faq{
 background-image: url(image/ico2.png);
 background-position: 50% 30px;
 }
  .b-item-in.videos{
 background-image: url(image/ico3.png);
 background-position: 50% 30px;
 }
 .b-item-in h2 a{
 font-family: 'TitilliumRegular';
 font-size:18px;
 color:#43abf7;
 margin-bottom: 5px;
 text-decoration:none;
 }
 .b-item-in p{
  font-size:13px;
 color:#333;
 line-height:22px;
 } 
 .campaign-h h2,.text-block h2{
   font-family: 'TitilliumRegular';
 font-size:44px;
 color:#333;
 font-weight:500;
 margin-bottom: 0 0 10px 0;
 }
  .get-kit{text-align:center;}
 .get-kit .gk{
   font-family: 'TitilliumRegular';
 display:block;
 width:147px;
 height:32px;
 padding: 10px 0 0 54px;
 background: url(image/gk.png) 0 0 no-repeat;
 font-size:17px;
 color:#fff;
 text-decoration: none;
 margin: 0 auto 15px;
 }

  .get-kit .dl a{
  font-family: 'TitilliumRegular';
 font-size:14px;
 color:#43abf7;
 text-decoration: none;
text-align:center;
 }
 .files h3,.main h3{
    font-family: 'TitilliumRegular';
 font-size:24px;
 color:#333;
 font-weight:500;
 margin-bottom:20px;
 }
 .custom{
 float:left;
 width:50%;
 margin-bottom: 30px;
 }
 .custom-in{
 position:relative;
 width:370px;
 height:310px;
 margin: 0 auto;
 border:1px solid #c8c8c8;
 }
  .custom-in img{
 border-bottom:1px solid #c8c8c8;  
 margin-bottom: 16px;
  }
 .custom-in h3{
font-family: 'TitilliumRegular';
 font-size:22px;
 color:#333;
 margin: 0 0 10px 15px;
 } 
 .custom-in ul li{
font-size:14px;
 color:#333;
  margin: 0 0 5px 30px;
 }  
  .custom-in  .bb{
  float:left;
  display:block;
  position: absolute;
  bottom: 0;
  left:0;
  width: 340px;
  padding: 4px 15px;
  background: #f4f4f4;
   border-top:1px solid #c8c8c8;  
   color:#979797;
   font-size:14px;
   text-decoration: none;
   line-height:22px;
  }
 .custom-in  .bb span{
 float:right;
 color:#979797;
 font-size:22px;
 }
 
 /* Middle
-----------------------------------------------------------------------------*/
#middle {
	width: 100%;
	height: 1%;
	position: relative;
	margin-top: 20px;
}
#middle:after {
	content: '';
	clear: both;
	display: table;
}
#container {
	width: 100%;
	float: left;
	overflow: hidden;
}
#content {
	padding: 0 270px 0 0;
}
#content2 {
	padding: 0 280px 0 0;
}

/* Sidebar Right
-----------------------------------------------------------------------------*/
#sideRight {
	float: left;
	margin-right: -3px;
	width: 190px;
	margin-left: -190px;
	position: relative;
}
#sideRight2 {
	float: left;
	margin-right: -3px;
	width: 250px;
	margin-left: -250px;
	position: relative;
}
.cp-logo{
float:left;
display:block;

}
.get-c{
float:left;
 font-family: 'TitilliumRegular';
 display:block;
 width:190px;
 height:32px;
 padding: 10px 0 0 0;
 background:#43abf7;
 text-align:center;
 font-size:19px;
 color:#fff;
 text-decoration: none;
 margin:  15px 0;
 border-radius: 8px;
 }
 .contact-block{
 float:left;
 padding:10px;
 width:170px;
 background: #f1f7fa;
 }
  .contact-block.width{
 float:left;
 padding:10px;
 width:230px;
 background: #f1f7fa;
 }
   .contact-block.margin-bt{margin-bottom: 100px;}
 .contact-block.no-bg{background: none;}
 .contact-block span{
 display:block;
 font-family: 'TitilliumRegular';
 font-size:18px;
 color:#333;
 margin: 0 0 20px 0;
 border-bottom: 1px solid #d0d1d2;
 padding-left:10px;
 padding-bottom:4px;
 }
  .contact-block ul{list-style-type:none;margin-bottom: 20px;padding-left:10px;}
 .contact-block ul li{
 font-size:14px;
 color:#333;
 margin: 0 0 10px 0;
 }
  .contact-block p{
 font-size:12px;
 color:#333;
line-height: 20px;
padding: 0 10px;
 }
  .contact-block ul li a{
 font-size:14px;
 color:#2781b6;
 text-decoration: none;
 }
 .text-block h3{
  font-family: 'TitilliumRegular';
 font-size:32px;
 color:#333;
 }
  .text-block h4{
  font-family: 'TitilliumRegular';
 font-size:20px;
 color:#333;
 margin-bottom: 20px;
 }
.news h2{
  font-family: 'TitilliumRegular';
 font-size:24px;
 color:#333;
 margin-bottom: 20px;
 }
   .text-block h5{
  font-family: 'TitilliumRegular';
 font-size:16px;
 color:#333;
 margin-bottom: 20px;
 }
  .text-block span{
  display:block;
  font-size:16px;
  color:#a1a1a1;
  }
  .text-block  a{
 font-size:16px;
 color:#2781b6;
 text-decoration: none;
 }
.text-block h6{
 font-family: 'TitilliumRegular';
 font-size:18px;
 color:#333; 
   }
 .text-block  .pl{padding-left:60px;}  
 .mb{
 margin-bottom: 20px;
 }
 .text-block .square{
 list-style-type:square;
 margin-left: 60px;
  margin-bottom: 20px;
 }
  .text-block .square li {
  font-family: 'TitilliumRegular';
  font-size:18px;
 color:#333;
 margin: 0 0 5px 0;
  }
  .text-block .disc{
 list-style-type:disc;
 margin-left: 60px;
  margin-bottom: 20px;
 }
   .text-block .disc.left{
 list-style-type:disc;
 margin-left: 20px;
  margin-bottom: 20px;
 }
  .text-block .disc li {
  font-size:16px;
 color:#333;
 margin: 0 0 10px 0;
  }
 .text-block .mb-no{margin-bottom:4px;}
 .table1{
 width:315px;
 border-bottom:1px solid #a1a1a1;
 border-right:1px solid #a1a1a1;
 text-align:left;
 }
  .text-block .table1 tr th{
 width:80px;
 padding: 5px 5px 5px 15px;
 font-size:14px;
 color:#1e1f1f;
 
 }
  .text-block table tr .th{
 border:1px solid #a1a1a1;
 border-bottom: none;
 background:#f1f7fa;
 border-right:none;
 }
.text-block .table1 tr td{
 width:80px;
 padding: 5px 5px 5px 15px;
 font-size:14px;
 color:#1e1f1f;
  border:1px solid #a1a1a1;
   border-bottom: none;
   border-right:none;
 }
   .text-block  .table2{
 width:370px;
 border-bottom:1px solid #a1a1a1;
 border-right:1px solid #a1a1a1;
 text-align:left;
 margin:10px 0 20px 60px;
 }
  .text-block .table2 tr th{
 width:180px;
 padding: 5px 5px 5px 15px;
 font-size:14px;
 color:#1e1f1f;
 background:#f1f7fa;
 border-right:none;
 border-bottom: none;
 border:1px solid #a1a1a1;
 }

.text-block .table2 tr td{
 width:180px;
 padding: 5px 5px 5px 15px;
 font-size:14px;
 color:#1e1f1f;
  border:1px solid #a1a1a1;
   border-bottom: none;
   border-right:none;
 }
 
 .links .links-line{
 width:600px;
 height:100px;
 background:url(image/links-bg.jpg) 0 0 repeat-x;
 }
  .links .links-line ul{list-style-type:none;}
  .links .links-line ul li{
  float:left;
  width: 150px;
  height:100px;
	 }
  .links .links-line ul li a{
   font-family: 'TitilliumRegular';
  position:relative;
  float:left;
  width: 150px;
  height:100px;
  text-align:center;
  color:#329bd4;
  font-size:12px;
  text-transform:uppercase;
  }
  .links .links-line ul li a span{
  position:absolute;
  display:block;
  bottom: 15px;
  width: 150px;
  text-align:center;
  }  
  .links .links-line  .border{background:url(image/l-border.png) 100% 5px no-repeat;} 
  .links .links-line .l-ico1 a{background:url(image/l-ico1.png) 50% -20px no-repeat;} 
  .links .links-line .l-ico2 a{background:url(image/l-ico2.png) 50% -20px no-repeat;} 
  .links .links-line .l-ico3 a{background:url(image/l-ico3.png) 50% -20px no-repeat;} 
  .links .links-line .l-ico4 a{background:url(image/l-ico4.png) 50% -20px no-repeat;}
  .links .links-line .l-ico5 a{background:url(image/l-ico5.png) 50% -20px no-repeat;} 
  .links .links-line .l-ico6 a{background:url(image/l-ico6.png) 50% -20px no-repeat;} 
  .links .links-line .l-ico7 a{background:url(image/l-ico7.png) 50% -20px no-repeat;} 
  .links .links-line .l-ico8 a{background:url(image/l-ico8.png) 50% -20px no-repeat;} 
 
 
.new-item {
	width: 100%;
	height: 264px;
	position: relative;	
	margin-bottom:30px;
}
.new-item:after {
	content: '';
	clear: both;
	display: table;
}
.new-cont {
	width: 100%;
	float: left;
	overflow: hidden;
}
.nc-in {
	padding: 0 0 0 295px;
}

.image-cont {
	float: left;
	width: 275px;
	margin-left: -100%;
	position: relative;
}
.new-item h2{
  font-family: 'TitilliumRegular';
  font-size:32px;
  color:#3283b2;
}
 .new-item p{
  font-size:16px;
  color:#333;
  line-height:20px;
}
  .new-item a{
  position: absolute;
  bottom:0;
  right:0;
 font-family: 'TitilliumRegular';
 display:block;
 width:180px;
 height:32px;
 padding: 10px 0 0 0;
 font-size:17px;
 color:#fff;
 background: #44abf8;
 text-align:center;
 text-decoration: none;
 border-radius:8px;
  }
   .view-more {float:left;width:100%;display:block;margin: 40px 0 30px 0;}
 .view-more a{
 font-family: 'TitilliumRegular';
 display:block;
 width:180px;
 height:32px;
 padding: 10px 0 0 0;
 font-size:17px;
 color:#fff;
 background: #9d9d9d;
margin: 0 auto;
 text-decoration: none;
 border-radius:8px;
 text-align:center;
 }
 
 
 
 
 
 
 
 
 
  .text-block,.blue-block,.campaign-h,.get-kit,.files,.block,.links {
 float:left;
 width:100%;
 margin: 0 0 20px 0;
 }
 
 .accordion{
	padding:0;
	margin:0;
	list-style:none;
	font-size:13px;
	line-height:14px;
	width:100%;
	overflow:hidden;
}
.accordion li{
	width:100%;
	float:left;

}
.accordion .opener{
	display:block;
	width:50%;
	overflow:hidden;
	color:#457b84;
	text-decoration:none;
	padding:12px 0 10px 40px;
	height:16px;
background:  #f1f7fa url(image/arrow.png) no-repeat 15px 50%;
margin-bottom: 20px;
font-size: 18px;  
  font-family: Georgia, serif;

}
.accordion .opener span{
 font-family: 'TitilliumRegular';
	padding:0 12px 0 30px;
	display:block;
	color:#000;
}
.accordion .active .opener { background: #f1f7fa url(image/arrow-h.png) no-repeat 15px 50%;}
.accordion .active .submenu{display:block;}

.submenu{
	overflow:hidden;
	padding:0 0 10px 60px;
	list-style:none;
	line-height:22px;
	display:none;
	width:50%;
background:#fff;
}
.submenu li{
	margin:0;
	float:left;
	width:100%;
	margin: 0 0 10px 0;
	padding:2px 0 2px 16px;
}
.submenu li a{float:right;margin-right: 40px; color:#43abf7;}
.submenu li span{float:right;margin-right: 40px; color:#929292;}
.submenu li a.video-link{float:left;width: 65%;}
.submenu li span.doc-span{float:left;width: 35%;font-size:18px;color:#000;}

.video-player{
float:left;
width:100%;
margin: 0 0 30px 0;
}
.dl-link{
float:left;
width:100%;
margin: 20px 0;
}
.dl-link .dl{
float:left;
 font-family: 'TitilliumRegular';
margin: 0 40px 0 0;
height: 22px;
padding: 10px 15px;
background: #43abf7;
font-size:18px;
color:#fff;
text-decoration:none;
border-radius:8px;
}
.dl-link .dl span{
display:block;
float:left;
width:27px;
height:27px;
background: url(image/dl.png) 0 0 no-repeat;
margin: 0 10px 0 0;
}
.faq-block{
float:left;
width:100%;
padding-top:30px;
border-top: 1px solid #e1e1e1;
}
.conversation-menu,.upcoming-menu{
float:left;
width:100%;
list-style:none;
}
.conversation-menu li{
border-bottom:1px solid #ebebeb;
padding: 35px 0 35px 80px;
}
.conversation-menu .no-border{border-bottom: none;}
.conversation-menu .ico4{background:url(image/ico4.png) 0 50% no-repeat;}
.conversation-menu .ico5{background:url(image/ico5.png) 0 50% no-repeat;}
.conversation-menu .ico6{background:url(image/ico6.png) 0 50% no-repeat;}

.conversation-menu li a{
font-family: 'TitilliumRegular';
font-size:18px;
color:#2781b6;
text-decoration:none;
}
.upc-item{
float:left;
width:100%;
height:100px;
background: #f1f7fa;
margin-bottom: 20px;
}
.upc-item .date{
float:left;
display:block;
width:100px;
height:85px;
padding:15px 0 0 0;
background: #2781b6;
font-size:40px;
color:#fff;
text-align:center;
margin: 0 20px 0 0;
}
.upc-item .date span{font-size:22px;display:block;color:#fff;}

.upc-info,.chat-menu{
float:left;
width:100%;
}
.upc-info h5{
margin:10px 0 5px 0;
}
.upc-info p{
margin:0 0 5px 0;
}
.upc-info a{
margin:0;
}
.upcoming-menu{
padding-bottom: 20px;
border-bottom: 1px solid #ebebeb;
margin-bottom:40px;
}
.p-menu li{margin-bottom: 10px;}
.p-menu li span{color: #666;display:block;}
.chat-menu li{
float:left;
width:90%;
padding: 25px 0 25px 60px;
font-size: 14px;
color:#000
}
.chat-menu .ico7{background:url(image/ico7.png) 0 50% no-repeat;}
.chat-menu .ico8{background:url(image/ico8.png) 0 50% no-repeat;}
.chat-menu li span{
display:block;
font-size: 20px;
color:#000;
text-decoration: none;
} 
.lc-text{
font-size: 14px;
color:#000;
padding: 0 0 0 60px;
}
.lc-text a{
font-size: 14px;
color:#2781b6;
text-decoration:none;
}

.product{
float:left;
width:100%;
margin-top: 20px;
padding-top: 30px;
border-top: 1px solid #b7b7b7;
}
.acumatica-columns{
float:left;
width:100%;
}
.column{
float:left;
width:28%;
padding-right:3%;
margin-right:3%;
border-right: 1px solid #b7b7b7;
}
.column ul{list-style:disc;padding-left:20px;}
.column.no-border{
padding-right:0;
margin-right:0;
border-right:none;
}
.column span{
display:block;
margin: 0 0 5px 0;
font-size:16px;
color:#000;
font-size:bold;
}
.column li{
margin: 0 0 5px 0;
font-size:14px;
color:#000;
}
.acumatica-columns .link{
float:left;
width:100%;
margin:40px 0;
display:block;
}
.acumatica-columns .link a{
  font-family: 'TitilliumRegular';
 padding: 10px 20px;
 background: #43abf7;
 font-size:20px;
 color:#fff;
 text-decoration: none;
 text-align:center;
 border-radius:8px;
}
.s-list{
float:left;
display:block;
width:100%;
margin: 10px 0 0 0;
}

.s-list strong{
font-weight:500;
font-size:13px;
color:#000;
}
.s-list ul{
list-style-type: decimal;
margin: 10px 0 0 40px;
}
.s-list ul li{
font-size:13px;
color:#000;
margin: 0;
padding:0;
}
span.red{color: #ff0000;display:block;margin: 0 0 30px 0;}

.text-block.faq p a{color:#000;
text-decoration:none;}


/* new-style */

.w-dl{
float:left;
width:100%;
margin: 0 0 20px 0;
}
.web-sp{
position:relative;
width:100%;
min-height: 40px;
padding:8px 0;
border:1px solid #cccccc;
background: #f2f7fa url(image/pic.png) 15px 50% no-repeat;
}

.web-sp p{
float:left;
font-size:14px;
color: #333;
line-height: 22px;
margin-left: 60px;
padding-right: 20px;
}
.web-sp p a{
color: #2683bc;
text-decoration:none;
}
.h-span.line{
padding-bottom: 20px;
border-bottom: 1px solid #ccc;
margin-bottom: 0;
}
.table{
width:100%;
}
.table tr td{
border-bottom: 1px solid #ccc;
padding-top: 30px;
}
.new-cont h2{
line-height:22px;
margin-bottom: 10px;
}
.new-cont h2 span{
font-family:Helvetica;
font-size:14px;
color: #999;
}
.new-cont a{
color: #5ba8d3;
font-size:16px;
text-decoration:none;
}